<h1>{{ title | uppercase }}</h1>

<div class="row">
  <!-- Inputs START -->
  <div class="col">
    <div class="my-4">
      <i>Drink's id:</i>
      <span class="ml-3">{{ idControl.value ?? "There is no 'id' yet" }}</span>
    </div>
    <div class="my-4">
      <label>Drink's name:</label>
      <input type="text" class="ml-3" [formControl]="nameControl" />
    </div>
    <div class="my-4">
      <label>Drink's price ($):</label>
      <input type="number" class="ml-3" [formControl]="priceControl" />
    </div>
    <button [disabled]="form.invalid" (click)="addDrink()">
      {{ idControl.value ? "Edit" : "Add" }}
    </button>
    <button (click)="cancelDrinkEdit()">Cancel</button>
  </div>
  <!-- Inputs END -->

  <!-- List START -->
  <div class="col">
    {{ isloading$ | async }}
    <div *ngIf="isloading$ | async">Loading...</div>
    <ng-container *ngIf="loadSuccess$ | async">
      <ul *ngFor="let drink of drinks$ | async">
        <li>
          <b class="clickable" (click)="editDrink(drink)">{{ drink?.name }}</b>
          <span *ngIf="drink?.price" class="ml-3">{{ drink.price }}$</span>
          <button class="ml-3" (click)="deleteDrink(drink.id)">Delete</button>
        </li>
      </ul>
    </ng-container>
    <div *ngIf="loadError$ | async">Error when loading data!</div>
  </div>
  <!-- List END -->
</div>
